div#main {
    background: url(img/main_bg.png)
}

div#event {
  background: url(img/event_bg.png) 
}

div#buttons {
  width: 100%;
  height: 69px;  
  margin-top: 328px;
  border: 0px solid red;
  
}

div#buttons ul {
  margin: 0px;
  border: 1px solid white;
}

div#buttons li {
  float: left;
  padding-left: 10px;
  width: 69px;
  height: 69px;
  margin: 0px;
}

div#buttons li.main_btn1 {
  background: url(img/main_btn1.png) no-repeat
}

div#buttons li.main_btn2 {
  background: url(img/main_btn2.png) no-repeat
}

div#buttons li.main_btn3 {
  background: url(img/main_btn3.png) no-repeat
}
div#buttons li a {
  display: block; 
  height: 69px; 
}
